<h2>Add Book</h2>

<form [formGroup]="bookForm" (ngSubmit)="submit()">

<label>Title</label>

<input type="text" formControlName="title">

<div *ngIf="bookForm.controls['title'].invalid && bookForm.controls['title'].touched">
Title is required.
</div>

<br><br>

<label>Author</label>

<input type="text" formControlName="author">

<div *ngIf="bookForm.controls['author'].invalid && bookForm.controls['author'].touched">
Author is required.
</div>

<br><br>

<label>Category</label>

<input type="text" formControlName="category">

<div *ngIf="bookForm.controls['category'].invalid && bookForm.controls['category'].touched">
Category is required.
</div>

<br><br>

<button type="submit">Add Book</button>

</form>